<footer class="text-center text-muted w-100 mt-auto custom-footer" style="padding: 20px; background-color: #f8f9fa;">
    {{!-- styling!! --}}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1;
        }
        .custom-footer {
            margin-top: auto;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

    <p>
        &copy; 2024 : CSCI 3308 - Team 5 Project 11
    </p>
</footer>

</body>
</html>
