{{!-- styling --}}
<style>
.message {
  background-color: #ffccff; 
  color: #ff66b2; 
  border: 2px solid #ff99cc; 
  border-radius: 5px; 
  padding: 10px 15px;
  margin: 15px 0;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message.error {
  background-color: #ffccff; 
  color: #ff66b2; 
  border-color: #ff99cc;
}

.message.success {
  background-color: #ffccff; 
  color: #ff66b2; 
  border-color: #ff99cc; 
}
</Style>

{{#if message}}
  <div class="message {{#if error}}error{{else}}success{{/if}}">
    {{message}}
  </div>
{{/if}}
