
{{#if message}}
  <style>
     body {
            font-family: Arial, sans-serif;
            background-color: #ffe6f0;
            margin: 0;
            padding: 0;
        }
        .navbar {
            background-color: #ff99cc;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,102,178,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
        .nav-link {
            color: white !important;
            font-weight: bold;
            transition: color 0.3s ease;
        }
        .nav-link:hover {
            color: #ffccff !important;
        }
        .border-bottom {
            border-bottom: 3px solid #ff66b2 !important;
        }
        .profile-container {
            max-width: 500px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ff99cc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 0;
            color: #ffffff;
            background-color: #ff00c3;
            text-decoration: none;
            border-radius: 4px;
            font-size: 16px;
            text-align: center;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #de0fa7;
        }

        .message-container {
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ff99cc;
            border-radius: 8px;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
</style>
  <div class="alert alert-{{#if error}}danger{{else}}success{{/if}}" role="alert">
    {{ message }}
  </div>
{{/if}}